<section class="portfolio-single">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <a class='back-btn' href="/"><span class='arrow'>←</span> Back to Portfolio</a>

        <h3><%= project.title %></h3>
        <%= Redcarpet.new(project.description.to_s, :smart, :fenced_code).to_html %>
        <hr>
        <ul class="item-meta">
          <% if project.year %>
            <li><strong>Year - </strong><%= project.year %></li>
          <% end %>
          <% if project.attributes %>
            <% project.attributes.each do |key, val| %>
              <li><strong><%= key %> - </strong><%= Redcarpet.new(val, :smart, :fenced_code).to_html %></li>
            <% end %>
          <% end %>
        </ul>
        <% if project.links %>
          <% project.links.each do |key, val| %>
            <a href="<%= val %>" class="btn"><%= key %></a>
          <% end %>
        <% end %>
      </div>

      <div class="col-xs-6">
        <div class="single-project">
          <% if project.screenshots %>
            <% project.screenshots.each do |screenshot_url| %>
              <a href="<%= screenshot_url %>" target="_blank"><img class="img-responsive" src="<%= screenshot_url %>" alt=""></a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
