<div id="qoutes" class="parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
  <div class="parallax-overlay-2">
    <div class="container" id="top-content">
      <div class="col-md-12">
        <p class="page-title">Portfolio of Jacques Crocker - hyperactive <a href="https://en.wikipedia.org/wiki/Hacker_culture">hacker</a>.</p>
        <ul class="social">
          <li title="GitHub">
            <a class="github" href="http://www.github.com/jacquescrocker"></a>
          </li>
          <li title="AngelList">
            <a class="angellist" href="http://angel.co/jacques-crocker"></a>
          </li>
          <li title="Twitter">
            <a class="twitter" href="http://twitter.com/jacquescrocker"></a>
          </li>
          <li title="LinkedIn">
            <a class="linkedin" href="http://linkedin.com/in/jacquescrocker"></a>
          </li>
          <!-- <li title="Facebook">
            <a class="facebook" href="http://facebook.com/jacquescrocker"></a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>

<section id="portfolio" class="section">
  <div class="container">

    <div class="row">
      <div class="portfolio-container">

        <% portfolio_projects.each do |project| %>
          <div class="col-xs-12 col-sm-6 col-md-4 mt">
            <div class="project-item">
              <div class="project-image">
                <a href="/<%= project.title.parameterize %>/">
                  <span class='img-wrapper'><img src="<%= project.thumb %>" alt="" width="1100" height="856" /></span>

                  <div class="overlay">
                    <div class="details">
                      <h2>
                        <%= project.title %>
                        <% if project.year %>
                          (<%= project.year %>)
                        <% end %>
                      </h2>
                      <p><%= project.byline %></p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
