<div id="qoutes" class="parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
  <div class="parallax-overlay-2">
    <div class="container" id="top-content">
      <div class="col-md-12">
        <h1>‟I built too much. I gone too far.”</h1>
        <p class="copyright">The tragically large portfolio of Jacques Crocker - hyperactive hacker.</p>
        <ul class="social">
          <li>
            <a class="github" href="http://www.github.com/jacquescrocker"></a>
          </li>
          <li>
            <a class="twitter" href="http://twitter.com/jacquescrocker"></a>
          </li>
          <li>
            <a class="linkedin" href="http://linkedin.com/in/jacquescrocker"></a>
          </li>
          <li>
            <a class="facebook" href="http://facebook.com/jacquescrocker"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section id="portfolio" class="section">
  <div class="container">

    <div class="row">
      <div class="portfolio-container">

        <% data.portfolio.each do |project| %>
          <div class="col-xs-12 col-sm-6 col-md-4 mt">
            <div class="project-item">
              <div class="project-image">
                <!-- <a href="/<%= project.title.parameterize %>/"> -->
                <a href="<%= project.url.presence || project.screenshot || "#" %>">
                  <span class='img-wrapper'><img src="<%= project.image %>" alt="" width="1100" height="856" /></span>

                  <div class="overlay">
                    <div class="details">
                      <h2>
                        <%= project.title %>
                        <% if project.year %>
                          (<%= project.year %>)
                        <% end %>
                      </h2>
                      <p><%= project.byline %></p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
