<div id="qoutes" class="parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
  <div class="parallax-overlay-2">
    <div class="container" style="padding: 85px 20px;padding-top:25px;">
      <div class="col-md-12">
        <h1>‟I built too much. I've gone too far.”</h1>
        <p class="copyright">The tragicly large portfolio of Jacques Crocker - hyperactive hacker.</p>
        <ul class="social" style="margin: 20px;">
          <li>
            <a class="github" href="http://www.github.com/jacquescrocker"></a>
          </li>
          <li>
            <a class="twitter" href="http://twitter.com/jacquescrocker"></a>
          </li>
          <li>
            <a class="linkedin" href="http://linkedin.com/in/jacquescrocker"></a>
          </li>
          <li>
            <a class="facebook" href="http://facebook.com/jacquescrocker"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section id="portfolio" class="section" style="padding-bottom:50px;">
  <div class="container">

    <div class="row" style="margin-top: -236px;">
      <div id="options" class="clearfix">
        <ul id="filters" class="option-set clearfix" data-option-key="filter">
          <li><a href="#filter" data-option-value="*" class="selected">everything <strong>(<%= portfolio_projects.count %>)</strong></a></li>
          <li><a href="#filter" data-option-value=".featured">featured <strong>(<%= portfolio_projects("featured").count %>)</strong></a></li>
          <li><a href="#filter" data-option-value=".clients">clients <strong>(<%= portfolio_projects("clients").count %>)</strong></a></li>
          <li><a href="#filter" data-option-value=".open-source">open source <strong>(<%= portfolio_projects("open-source").count %>)</strong></a></li>
          <li><a href="#filter" data-option-value=".experiments">experiments <strong>(<%= portfolio_projects("experiments").count %>)</strong></a></li>
          <li><a href="#filter" data-option-value=".hackathons">hackathons <strong>(<%= portfolio_projects("hackathons").count %>)</strong></a></li>

        </ul>
      </div>
    </div>

    <div class="row">
      <div class="portfolio-container">

        <% data.portfolio.each do |project| %>
          <div class="col-xs-12 col-sm-6 col-md-4 mt <%= project.tags.join(" ") %>">
            <div class="project-item">
              <div class="project-image">
                <a href="/<%= project.title.parameterize %>/">
                  <img src="<%= project.image %>" alt="" />
                  <div class="overlay">
                    <div class="details">
                      <h2><%= project.title %></h2>
                      <p><%= project.byline %></p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
